.h2 {
  padding: 5px 10px;
  background-color: tomato;
  font-size: 1rem;
  color: white;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 0 30px;
  padding: 0;
}
